.img-vacante{  width: 338px;
height: 225px;
vertical-align: middle;
display: flex;
align-self: center;}
.white-heading {
font-size: 3em;
/*padding: 1em;*/
text-align: center;
color: white;
font-weight: bold;
}
.vacantesSideB{
background: url('imgs/vacantes/fold.jpg');
background-repeat: no-repeat;
background-size: cover;
}
.inversionistasSideA{
background: #293b5f;
background-repeat: no-repeat;
background-size: cover;
}
.flexbox {
flex: 1 20em;
height: 500px;
justify-content: center;
display: flex;
align-items: center;
}
.flexwrap {
display: -webkit-flex;
display: flex;
-webkit-flex-wrap: wrap;
flex-wrap: wrap;
}
p.selectTxt.vacantesTxt {
display: inline-flex;
width: 49%;
}
.formInvestor {
flex: 50%;
width: 50%;
margin: 0 auto;
}
.btn-postula {
background: #f3b633;
min-width: 100px;
font-size: 16px;
border-radius: 0;
height: 40px;
margin: 0;
line-height: 1;
box-sizing: border-box;
cursor: pointer;
display: flex;
justify-content: center;
align-items: center;
align-self: flex-end;
margin-right: 1em;
color: darkslategray;
font-weight: 600;
border: 1px solid gray;
}
.font2{font-size: 2em;text-align: center;padding: 0;line-height: 0;padding-top: 1em;}
.contenedorVacantes {
margin: 0 2em;
}
.blueGray-wrapper {
/*	    width: 100%;
*/	    display: flex;
background: #333d47;
padding: 2em;
margin: 2em;
color: white;
border: 1px solid #f3b633;
/*	    padding-left: 2em;
*/	}
.yelloWrapper{background: #f3b633;}
.f15em {font-size: 1.5em;text-align: center;padding: 1em 2em;line-height: 1.5em;}
.f2em {font-size: 2em;text-align: center;padding: 1em;line-height: 1.5em;}
.requisitosBg {background-image: url('imgs/fold/bgrequisitos.jpg'); min-height: 600px;color: white;text-align: center; background-size: cover;}
.bgprop{background-image: url('../imgs/fold/bgprop.jpg'); min-height: 600px;color: white;text-align: center; background-size: cover;}
.flex-container {
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
flex-direction: row;
-webkit-align-items: center;
align-items: center;

flex-wrap: wrap;
min-width: 320px;
max-width: 1220px;
justify-content: center;
}
.flex-item {
width: 45%;
margin: 3px;
padding: 10px 0 0 10px;
}

.info-container{
display: inline-block;
vertical-align: top;
padding: 0 0 0 5px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
.info-container p{
padding: 0;
margin: 0 0 10px;
}
p.txtYellow {
font-size: 2.2em;
margin-top: .5em;
color: #fab429;
text-align: left;
margin-bottom: 0;
font-weight: bold;
}
p.bigTxt {
font-size: 1.3em;
font-weight: bold;
text-align: left;
}
.iconp1{position: relative;right: 5em;}
.iconp1i{position: relative;right: 4em;}
.iconp4{position: relative;right: 7%;}
.iconpi4{position: relative;right: 7.5%;}
.p3{padding-left: 3em;}
.justify{    text-align: justify;}
.left{text-align: left;}
.f3{font-size: 3em !important}
@media screen and (max-width: 970px) {
.flex-item {width: 100%;}
}
@media screen and (max-width: 430px) {
.blueGray-wrapper {padding: 1em}
.img-vacante{width: 100% !important;    height: auto !important;}
.flex-item {width: 100%; padding-right: 2em;}
.iconp1{right: 0;}
.iconp1i{right: 0;}
.iconp4{right: 0;}
.iconpi4{right: 0;}
p.bigTxt.f3 {font-size: 1.8em !important;}
.info-container{display: block;text-align: center;margin-left: 10%;}
span.grandote {
font-size: 1em;}
.header-num {
font-size: .5em;
line-height: 2em;
}
}
@media screen and (max-width: 430px) {
.encabezado {
font-size: 1em;
}
.header-num {
font-size: .5em;
line-height: 2em;
}
}
.dropdown-cont>a {
font-size: 15px;
height: auto;
margin-top: 1em;
height: 30px;
line-height: 20px;
}
.dropdown-cont>a:hover{
background: transparent;
color: black;
}
.dropbtn {
background-color: transparent;
color: white;
border: none;
cursor: pointer;
font-size: 17px;
margin-top: -1em;margin-right: .5em; }
.dropdown-cont {
display: none;}
.respsub{
padding: 0;
}
.dropdown:hover .dropdown-cont {
display: block;
}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown-cont{    display: none;}
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
font-size: 13px;
width: 120px;
text-align: center;
}
.dropdown-content a {
color: white;
text-decoration: none;
display: block;
background:#2970ca;
height: 40px;
line-height: 40px;
}
.topnav.menu.flex>div {
display: inline-flex;
}
.dropdown-content a:hover {background-color: #333d47;}
.dropdown:hover .dropdown-content {
display: block;
}
.dropdown:hover .dropbtn {
background-color: #2970ca;
}
.dropdown {
position: relative;
display: inline-block;
line-height: 3.7em;
}
.topnav {
overflow: hidden;
background-color: #2970ca;
word-spacing: .5em;
}
.estado.vacanteinp {width: 50%;}
@media screen and (max-width: 910px) {
.estado.vacanteinp {width: 100% !important;}
.dropbtn{    padding: 8px 8px 8px 32px;     margin-bottom: 1em;
margin-top: 1em;}
.dropdown { line-height: 0; margin-top:2em;}
}
.flex50 {
flex: 50%;
}
.grayBg {
background: #ccc;
padding-bottom: 1em;
}
.paddingrec{padding: .5em 4em;}
select#txt_est{
width: 100%;
font-size: 14px;
background: white;
border: 0;
border-radius: 0;
height: 40px;
margin: 0 0.5em 0 0;
-webkit-appearance: none;
-moz-appearance: none;
padding-left: 10px;
color: gray;
}
.left{ text-align:left; margin-left: 1.2em;}
.f2{font-size: 2em;
margin: 0;
margin-left: 1.2em;
padding: 0.5em 0;}
.gray{    color: #394049}
.bggray {
background: #d1d1d1;
padding-bottom: 1em;
flex: 50%;
}
@media screen and (max-width: 800px) {
.estado.vacanteinp {width: 100% !important;}
.blueGray-wrapper {flex-direction:column !important;}}
@media screen and (max-width: 768px) {
.formInvestor {width: 100%;}
.formInvestor {width 100%}
.estado.vacanteinp {width: 100%;display: inline-flex;}
.blueGray-wrapper {flex-direction:column !important;}
.contenedorVacantes {margin: 0;}
.f15em {font-size: 1em !important}
.formContainer {flex-direction: column;}
span.txtBday{display: block;}
.paddingrec {padding: .5em 3em 0 1em;}
p.txtYellow {font-size: 1.3em;}
.btnContainers {display: block;}
.clear-form.btn-blue {width: inherit;}
input.formHome.btn-yellow {width: inherit !important;}
span.grandote {font-size: 1.5em;}
.newBox {padding-top: 2em !important; width: 100%;}
.flexItem{flex-direction: column}
.flexItem.column {flex-direction: row;}
.transparentBox {font-size: 10px !important; width: 100%;}
.cases {width: 100% !important;}
}
@media screen and (max-width: 1200px) {
span.txtBday{display: block;}
.newStyle {min-height: 300px;font-size: 14px;}
.newBox {margin: 1em; height: auto !important;}
/*.newTransparent{margin-top: 40%;}*/
.newtxt{font-size: 12px;}
.btn-new {width: inherit;align-items: center;align-self: center;text-align: center;font-size: 12px;padding: 0 1em;}
}
.nssIframe{display: none;}
#pagDos, #pagTres{
display: none;
}
@media screen and (max-width: 630px){
.transparentBox {margin: 1em !important;}
.flexItem.column {flex-direction: column;}
}


/**/

.prop-search {margin: 0 auto;text-align: center;background: white;padding: 0.5em 0;width: 80%;border: 1px solid #ededed;}
.selectProp {border: 6px solid gray;width: 150px;margin: 0;}
.flex-around{display: flex; justify-content: center;}
.btnProp{    background: #f3b633;width: 150px;display: flex;margin: 0;box-sizing: border-box;cursor: pointer;color: black;justify-content: center;align-items: center}
select{color: gray}
	.unidades {
    width: 250px !important;
    float: left;
    padding: 0.3em;
    background: #333d47;
    margin: 1em;
    border: 1px solid #f3b633 !important;
        max-height: 350px;
}
.whiteBg {
    background: white;
    color: black;
}
.mb1{padding-bottom: 1em }
.investorProp {
    display: flex;
    justify-content: space-around;
        align-items: center;
}

@media screen and (max-width: 700px){
.prop-search {width: 100% !important;}
}

@media screen and (max-width: 600px ){
	.prop-search {width: 80% !important;}
	.flex-around {flex-direction: column;align-items: center;padding-top: 1.5em;}
	.btnProp {margin: 1em;box-sizing: border-box;height: 50px; }
	.selectProp {width: 90%;     margin-bottom: 1em;}

}
@media screen and (max-width: 768px ){
.investorProp {
    display: flex;
    flex-direction: column !important;
}}

.btn-map {
    background: #ededed;
    width: 100px;
    padding: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    height: 40px;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    cursor: pointer;
    color: black;
    display: inline-flex;
}
.btn-prop {
    background: #f3b633;
    width: 100px;
    padding: 12px;
    padding-top: 12px;
    padding-right: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    font-size: 16px;
    border: 0;
    border-radius: 0;
    height: 40px;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
    cursor: pointer;
    color: black;
    display: inline-flex;
}