#imagen {
    z-index: 1000;
    width: 60%;
    height: 20em;
    background-size: contain;
    background-image: url("../img/access_N.png");
    background-repeat: no-repeat;
    margin: 20px auto auto auto;
}

#imagen:hover {
    z-index: 1000;
    width: 60%;
    height: 20em;
    background-size: contain;
    background-image: url("../img/access_H.png");
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    #imagen {
        z-index: 1000;
        width: 40%;
        height: 40em;
        background-size: contain;
        background-image: url("../img/access_N.png");
        background-repeat: no-repeat;
        margin: auto;
    }

    #imagen:hover {
        z-index: 1000;
        width: 40%;
        height: 40em;
        background-size: contain;
        background-image: url("../img/access_H.png");
        background-repeat: no-repeat;
    }

}

@media (min-width: 1200px) {
    body {
        overflow: scroll;
    }
}
.modal-footer .btn{
    margin-top: 15px;
}
#map {
  height: 500px;
  width: 100%;
 }
